<div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="card">
				<form class="mx-3">
							<h6>Name on Card: </h6>
						<div class="form-group">
					<div class="row">
							<div class="col">
								<input type="text" class="form-control">
							</div>
							<div class="col">
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>