<div class="container">
	<h1 class="my-4 bamboo-title">Our Mission</h1>
	<div class="row">
		<div class="col-lg-6 mb-2">
			<%= image_tag 'https://believebamboo.s3-us-west-1.amazonaws.com/ABOUT-IMG.jpg', class: 'img-fluid rounded shipping-img' %>
			<!-- Photo by Dustan Woodhouse on Unsplash -->
		</div>
		<div class="col text-center my-5">
			<h4>We at believebamboo are committed in the fight against <span class="color-custom">ALL</span> plastics.  Based out of southern california we started noticing more and more trash on the beach every morning, mostly single use plastics.  We finally said enough is enough and stopped believing in the plastic industry and started believing in <span class="color-custom">BAMBOO</span></h4>
		</div>
	</div>
</div>
