<div class="container text-center">
	<h1 class="bamboo-title mt-5"> Thank You !</h1>
	<h6>We have received your order and will begin processing in 1-2 business days.  Be sure to check your E-mail for receipt and Order Confirmation.  You've joined hundreds in the sustainable revolution and we would like to thank you for doing your part!</h6>
	<%= image_tag 'https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=874&q=80', class: 'img-fluid rounded my-3' %>
	<p>Any issues? Suggestions? Concerns? Please contact us <%= link_to "HERE", new_contact_path, class: 'color-custom' %></p>
</div>
