<div class="container my-5">
	<h1 class="bamboo-title">Refund Policy</h1>
	<div class="row">
		<div class="col mt-3">
			<%= image_tag 'https://images.unsplash.com/photo-1555861496-0666c8981751?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80', class: 'img-fluid rounded shipping-img' %>
		</div>
		<div class="col-md-8">
			<h6 class="text-center mt-5">We offer full refunds for any damaged or unreceived orders.  Refunds typically take 4-6 business days to process back to the card that was charged.  If for any reason you are unsatisfied with our products please contact us <%= link_to "HERE", new_contact_path, class: 'color-custom' %> and our all human customer support staff will take care of you!</h6>
		</div>
	</div>
</div>
