<div class="container my-5">
	<h1 class="bamboo-title">Shipping Policy</h1>
	<div class="row">
		<div class="col-md-8">
			<h6 class="text-center mt-5">Delivery time to the US typically takes 1-4 weeks depending on the month.  Other countries vary, but typically stay within the 2-4 week range.  Once an order is out for delivery you will be sent all the necessary tracking information through E-mail.  Our operation is smaller than our competitors, but we are always here to answer any questions/concerns.  Our all human customer service staff is available 24/7 and can be reached <%= link_to "HERE", new_contact_path, class: 'color-custom' %> </h6>
		</div>
		<div class="col">
			<%= image_tag 'https://images.unsplash.com/photo-1566576721346-d4a3b4eaeb55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=401&q=80', class: 'img-fluid rounded shipping-img' %>
		</div>
	</div>
</div>
