<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<ul>
			<li>@email
			<li>@firstname
			<li>@lastname
			<li>@country
			<li>@address
			<li>@city
			<li>@state
			<li>@zip
		</ul>
	</body>
</html>