 
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://believebamboo.s3-us-west-1.amazonaws.com/seaturtle.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2>Believe Bamboo</h2>
            <p>Do you believe?</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://believebamboo.s3-us-west-1.amazonaws.com/bamboo-forest2.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>These are bamboos</h3>
            <p>Yes, yes they are.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <!-- Image by Jasmin Sessler from Pixabay -->
        <div class="carousel-item" style="background-image: url('https://believebamboo.s3-us-west-1.amazonaws.com/plastic-straw-trash.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Trashhhhh</h3>
            <p>THIS IS TRASH TRASH = BAD</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container mt-4" id="products">

   

    <!-- Product Section -->

    <div class="row text-center">
      <% @products.each do |p| %>
      <div class="col product-item">
        <div class="card h-100 border-0">
          <%= image_tag p.image, class: 'card-img-top' %>
          <div class="card-body mt-n3">
            <h4 class="card-title text-center">
              <small class="text-danger"><strike> <%= p.price2 %> </strike></small><br/>
              <%= link_to "$#{p.price.round}", p, class: 'text-decoration-none text-dark stretched-link' %>
            </h4>
            <p class="card-text text-center"><strong><%= p.title %></strong></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <!-- /.row -->
  </div>

  <!-- Features Section -->

  <div class="bgcustom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-white">
          <h1>Did you know?</h1>
          <ul>
            <li>Bamboo is the <strong>fastest</strong> growing plant in the world!</li>
            <li>Bamboo is not actually a tree, it's a type of grass</li>
            <li>It can grow up to a meter a day, you can literally watch it grow!</li>
            <li>Unlike trees, bamboo regrows after being harvested</li>
            <li>An adult bamboo tree can be harvested every single year making it the perfect renewable resource alternative to plastic!</li>
          </ul>
          <p>The Believe Bamboo movement was started by a group of surfers from Southern California that got fed up with the amount of plastics found in the ocean and washed ashore.</p>
        </div>
        <div class="col-lg-6 mt-3 text-center">
          <img class="img-fluid rounded custom-img" src="https://i.imgur.com/TlgUROh.gif" alt="">
        </div>
      </div>
      <!-- /.row -->
    <hr>
    </div>
  </div>
  <!-- /.container -->
  <div class="container">

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-6">
        <h6 class="mt-2 mb-3">Subscribe to our mailing list and find out how you can get involved in the fight against single use plastics!</h6>
      </div>
      <div class="col-md-6 mt-2 text-center">
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" id="emailList" placeholder="John@example.com">
          </div>
          <button type="submit" class="btn btn-custom mb-2 text-white ml-2">Subscribe</button>
      </form>
      </div>
    </div>
  </div>
    <!-- /.container -->




 
